body{
    background-color: #C6EEBF;
    margin: 0;
    padding: 0;
}

h1, .title{
    font-family: raleway;
    color: #080E07;
    padding-left: 0.5em;
}

h3 {
    font-family: raleway;
}

header{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    height: 75px;
    width: 100%;
    background-color: #77A571;
    position: relative;
    display: flex;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a, .navbar{
    font-family: raleway;
    margin-top: 0;
    display: flex;
    text-decoration: none;
    font-size: x-large;
    padding-left: 4.5em;
}

a:link{
    color: #080E07;
}

a:hover{
    color: #C6EEBF;
}

a > ul > li{
    display: inline;
    padding: 40px;
}

div, .main{
    margin-top: 22em;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    align-self: center;
    text-align: center;
    background-color: #78AD6F;
    width: 95%;
    height: 13em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

p{
    font-family: raleway;
    
}